{% extends 'utils/base.html' %} {% block body %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://source.unsplash.com/849x606/?app,study"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Computer Assisted Personal Tutor with Adaptive INstruction
      </h1>
      <p class="lead">
        This is a placeholder page just to check that this site works. This project is only for offering apis for a different front-end written in React.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
          Google Play
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          App Store
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
